*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    color: #555;
    font-family: 'lato',sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

body {
    font-family: Arial, sans-serif;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)), rgba(0, 0, 0, 0.7)
            url('hero.jpg');
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
            
}

.header1 {
    display: flex;
   justify-content: space-around;
   align-items: stretch;
   -webkit-text-fill-color: white;
}

.logo {
    display: block;
    height: 150px;
    padding: 10px;
    
}

.bar {
    display: inline-flex;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

.bar li {
    display: inline-flex;
    justify-content: right;
    font-size: large;
    padding: 15px 25px;
   
}
.bar li:hover{
     text-decoration: underline orangered;
}

.bar a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.article{
    display: inline-block;

}


.hero-textbox{
    flex-wrap: wrap;
    width: 1140px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    justify-content: flex-start;
}

.btn-full{
    background-color: orange;
    color: white; 
    border-radius: 30px;
    margin: 10px;
    padding: 10px;

}

.btn-full:hover, .btn-full:active{
    background-color: rgb(120, 82, 10);     
}




.btn-ghost{
    border: 1px solid;
    color: rgb(243, 101, 49);
    transition: color 0.25;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
}





.btn-ghost:hover, .btn-dull:active{
    border: 1px solid rgb(236, 58, 14);
    color: beige;
    background-color: orange;
    
}

.body_1{
    text-align: center;
    padding-top: 20px;
}
h2:after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: orange;
    content:" ";
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;

}

.icon-big{
    font-size: 350%;
    display: block;
    color: orange;
    margin-bottom: 10px;
    --ionicon-stroke-width:20px;
}
.container_1{
    display: inline-flex;
    margin-bottom: 10px;
}


.container_2{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 overflow: hidden;
    
    }
.container_2_item{
 flex: 0 0 calc(25% - 20px);
max-width: calc(25% - 20px);
overflow: hidden;

}


.container_2 img:hover{
    opacity: 1;
    transform: scale(1.00);
}
.container_2 img{
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.7;
    transform: scale(1.15);
 }

.container_3 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 100%;
}

.container_3_item {
  flex: 1 1 200px;
  max-width: 250px;
}

.container_3_item figure {
  margin: 0;
  text-align: center;
}

.container_3_item img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
}

.logo_set {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon-text a {
  text-decoration: none;
  color: #f5a105;
  font-weight: bold;
  text-decoration: underline;
}

.icon-text a:hover {
  text-decoration: none; 
  color: blue;            
}


.container_4 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 100%;
}
.container_4_item {
  flex: 1 1 200px;
  max-width: 250px;
  border: 1px solid rgb(180, 176, 176);
}

.price {
  display: flex;
  align-items: center;
 gap: 8px;
  color: orangered;
}
.btn-full-1{
    background-color: orange;
    color: white; 
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    text-align: center;

}

.btn-full-1:hover, .btn-full-1:active{
    background-color: rgb(120, 82, 10);     
}




.btn-ghost-1{
    border: 1px solid;
    color: rgb(243, 101, 49);
    transition: color 0.25;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}





.btn-ghost-1:hover, .btn-dul-1l:active{
    border: 1px solid rgb(236, 58, 14);
    color: beige;
    background-color: orange;
    
}
.payWall{
    background-color: #d3cece;
    color: black;
    
}

.container_5 {
  border: 2px solid black;
  width: 300px;
  height: 500px;
  display: flex;
  margin-left: 400px; 
flex-direction: column;
padding: 10px;
}
.container_5_item{
    display: flex;
   flex-direction: column;
    width: 100%;
    margin: 5px;
    padding: 5px;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

textarea {
  height: 100px;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0;
}
input[type=submit]{
     border: 1px solid;
    color: rgb(243, 101, 49);
    transition: color 0.25;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
}
input[type=submit]:hover{
background-color: #ac740d;
color: aliceblue;
}